<div class="container page-top">

	<h3>チーム一覧</h3>
	<div class="row" style="margin-top:50px;">
		<div class="col-md-8 mx-auto">
			<div class="search-form card text-center">
				<div class="card-header text-white bg-dark">チーム検索</div>
				<%= form_tag(teams_path, method: "get") do %>
				<div class="search-content">
					<%= label_tag :prefecture, "都道府県",style:"font-weight:bolder;" %>
						<%= select_tag :prefecture, options_for_select(Team.prefectures
						# , :selected => params[:prefecture] 選択を保持する記述
						), include_blank:"全国", class:"col-md-5 form-control search-tag" %>
						<br><%= label_tag :frequency, "活動頻度",style:"margin-left:0; font-weight:bolder;" %>
						<%= select_tag :frequency, options_for_select(Team.frequencies
						# , :selected => params[:frequency]選択を保持する記述
						), include_blank:"-- 選択してください --",
						class:"col-md-5 form-control search-tag" %>
						<br><%= label_tag :genre, "競技 ",style:"margin-right:30px; font-weight:bolder;" %>
						<%= select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name
						# , params[:genre_id]選択を保持する記述
						),include_blank:"-- 選択してください --",class:"col-md-5 form-control search-tag"%>
						<br><br><%= label_tag :day_of_week, "活動曜日",style:"margin-right:15px; font-weight:bolder;"%>
						<div class="field search-tag">
							<%= check_box_tag :day_of_week, "日曜", nil  %>日曜
							<%= check_box_tag :day_of_week, "月曜", nil %>月曜
							<%= check_box_tag :day_of_week, "火曜", nil %>火曜
							<%= check_box_tag :day_of_week, "水曜", nil %>水曜
							<%= check_box_tag :day_of_week, "木曜", nil %>木曜
							<%= check_box_tag :day_of_week, "金曜", nil %>金曜
							<%= check_box_tag :day_of_week, "土曜", nil %>土曜
							<%= check_box_tag :day_of_week, "未定", nil %>未定
						</div>
						<br><br><%= submit_tag "検索", class:"btn btn-success btn-md" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container page-top">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="team-index card">
					<div class="card-header text-white bg-dark text-center">チーム一覧 / 検索結果
					</div>
				<% @teams.each do |team| %>
					<div class="team-content">
						<div class="row">
							<div class="col-md-5 team-content-left  text-center">
								<%= link_to team_path(team), class: "team_#{team.id}"  do %>
									<%= attachment_image_tag(team,:team_image, fallback: asset_path("no-image.png"), size:"130x130",style:"border-radius:10px;") %>
									<br><span style="color:black;"><%= team.name %>(<%= team.prefecture %>)</span>
								<% end %>
									<br><br><% if team.bookmark_by?(current_user) %>
												<%= link_to team_bookmarks_path(team), method: :delete, remote:true,class:"btn btn-warning btn-sm active" do%>
												<i class='fa fa-heart'> 解除する</i>
												<% end %>
											<% else %>
										<%= link_to team_bookmarks_path(team), method: :post, remote:true,class:"btn btn-warning btn-sm" do %>
											<i class='fa fa-heart-o'> 気になる</i>
											<% end %>
									<% end %>
									<%= link_to "チーム詳細", team_path(team), class:"btn btn-primary btn-sm"%>
							</div>
							<div class="col-md-7 team-content-right ">
								<br><span class="right-content-title">【競技】</span><span class="right-detail"><%= team.genre.name %> </span>
								<br><span class="right-content-title">【活動頻度】</span><span class="right-detail"><%= team.frequency %> </span>
								<br><span class="right-content-title">【活動曜日】</span><span class="right-detail"><%= team.day_of_week %> </span>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="paginate col-md-8 mx-auto">
				<br><%= paginate @teams %>
		</div>
	</div>

</div>