<div class="container page-top table-responsive border-none" style="margin-bottom: 100px;">
	<h3>チーム登録画面</h3>
	<div class="row">
		<div class="col-md-8 mx-auto" style="margin-top:50px;">
			<p>メンバーを募集したいチームの登録をこちらから申請することができます。
			<br>下記の情報を入力してください。</p>

				<%= form_for @team,:url => {:controller => :teams,:action => :create} do |f| %>
					<%= render "layouts/error_messages", model: @team %>
						<div class="field-registration">
							<br><%= f.label :チーム画像%>
							<br><%= f.attachment_field :team_image, :style=>"width:250px;" %>
						</div>
						<div class="field-registration">
							<br><%= f.label :チーム名%> <span class="badge badge-danger">必須</span>
							<%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control col-md-7", required: true %>
						</div>
						<div class="field-registration">
							<br><%= f.label :代表者名%>
							:<%= @user.name %>
						</div>
						<div class="field-registration">
							<br><%= f.label :種目 %> <span class="badge badge-danger">必須</span>
							<%= f.collection_select :genre_id, Genre.all, :id, :name,{include_blank:"選択してください"} ,class:"form-control col-md-6", required: true%>
						</div>
						<div class="field-registration">
							<br><%= f.label :活動拠点 %> <span class="badge badge-danger">必須</span>
							<br><%= f.select :prefecture, Team.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info col-md-5', required: true %>
						</div>
						<div class="field-registration">
							<br><%= f.label :活動頻度 %> <span class="badge badge-danger">必須</span>
							<br><%= f.select :frequency, Team.frequencies.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info col-md-5', required: true %>
						</div>
						<div class="field-registration">
							<br><%= f.label :活動曜日 %> <span class="badge badge-danger">必須</span>
							<br>
							<%= f.check_box :day_of_week, {multiple: true}, "日曜", nil %>日曜
							<%= f.check_box :day_of_week, {multiple: true}, "月曜", nil %>月曜
							<%= f.check_box :day_of_week, {multiple: true}, "火曜", nil %>火曜
							<%= f.check_box :day_of_week, {multiple: true}, "水曜", nil %>水曜
							<%= f.check_box :day_of_week, {multiple: true}, "木曜", nil %>木曜
							<%= f.check_box :day_of_week, {multiple: true}, "金曜", nil %>金曜
							<%= f.check_box :day_of_week, {multiple: true}, "土曜", nil %>土曜
							<%= f.check_box :day_of_week, {multiple: true}, "未定", nil %>未定
						</div>
						<div class="field-registration">
							<br><%= f.label :チームの拠点（練習会場等）%> <p style="font-size:12px; display:inline; color:gray;"><br>※住所が有効だった場合チームの詳細ページにGoogleマップが表示されます。</p>
							<br><%= f.text_field :address, placeholder: "例：大阪府大阪市吹田市　吹田スタジアム",class: "form-control"%>
						</div>
						<div class="field-registration">
							<br><%= f.label :チーム紹介・備考欄%> <span class="badge badge-danger">必須</span>
							<%= f.text_area :introduction, placeholder: "200文字以内", autofocus: true, autocomplete: "introduction",class:"form-control",style:"height:200px;", required: true %>
						</div>
							<div class="text-center">
								<br><%= f.submit '申請する', class:"col-sm-4 btn btn-primary btn-lg" %>
								<p>※内容によっては掲載を拒否する場合があります。</p>
							</div>
				<% end %>
		</div>
	</div>
</div>