<div class="container page-top">
      <h2>会員情報編集</h2>

  <div class="row">
     <%= form_for @user,:url =>{:controller => :users, :action => :update} do |f| %>

        <%= attachment_image_tag(@user,:profile_image, fallback: "/assets/no-image.png", size:"150x150") %>
		<%= f.attachment_field :profile_image ,class:"form-control" %>

        <div class="field">
          <%= f.label :名前（ニックネームでも可） %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <%= f.label :"性別" %><br />
            <%= @user.gender_status_i18n %>

        <br /><%= f.label :生年月日 %><br />
            <%= @user.birth_date%>

        <div class="field">
        <%= f.label :都道府県 %><br>
        <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        </div>

        <div class="field">
          <%= f.label :自己紹介%><br />
          <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
        </div>


        <div class="actions">
          <br /><%= f.submit "登録" ,class:"btn btn-success"%>
        </div>
      <% end %>

            <span>
            <%= link_to '退会する', user_cancel_path(current_user) ,class:"btn btn-danger" %>
            </span>
  </div>
</div>