<div class="container page-top">
    <h3>会員一覧</h3>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-8 mx-auto">
                <div class="search-form card">
                    <div class="card-header text-white bg-dark text-center">会員検索</div>
                        <div class="search-content text-center">
                            <%= form_tag(users_path, method: "get") do %>
                            <%= label_tag :prefecture, "都道府県 ",style:"font-weight:bolder; margin-right:10px;" %>
                                <%= select_tag :prefecture, options_for_select(User.prefectures), include_blank: "全国", class:"form-control col-md-5", style:"display:inline; margin:7px;" %>
                                                                <br><%= label_tag :gender_status, "性別",style:"font-weight:bolder; margin-right:10px;" %>
                                <%= select_tag :gender_status, options_for_select(User.gender_statuses.keys.map {|k| [I18n.t("enums.user.gender_status.#{k}"), k]}), include_blank: true, class:"form-control col-md-3 search-users" %>
                            <br><%= label_tag :age, "年齢",style:"font-weight:bolder; margin-right:5px;"%>
                                <%= select_tag :min_age, options_for_select((5..85.to_i)), include_blank: true, class:"form-control search-users",style:"width:65px;" %>から
                                <%= select_tag :max_age, options_for_select((5..85.to_i)), include_blank: true, class:"form-control search-users",style:"width:65px;" %>歳まで
                            <br><br><%= submit_tag "検索", class:"btn btn-success btn-md" %>
                            <% end %>
                        </div>
            </div>
        </div>
    </div>
</div>


<div class="container page-top">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="users-index card">
					<div class="card-header text-white bg-dark text-center">会員一覧 / 検索結果
					</div>
                    <% @users.each do |user| %>
					<div class="team-content">
						<div class="row">
							<div class="col-md-5 team-content-left  text-center">
								<%= link_to user_path(user), class: "user_#{user.id}"  do %>
									<%= attachment_image_tag(user,:profile_image, fallback: "/assets/no-image.png", size:"130x130",style:"border-radius:10px;") %>
									<br><span style="color:black;"><%= user.name %></span>
								<% end %>
									<br><br>
									<%= link_to "ユーザー詳細", user_path(user), class:"btn btn-primary btn-sm"%>
							</div>
							<div class="col-md-7 user-content-right">
								<span class="right-content-title">【年齢】</span><span class="right-detail"><%= user.age %>歳 </span>
								<br><span class="right-content-title">【都道府県】</span><span class="right-detail"><%= user.prefecture %> </span>
								<br><span class="right-content-title">【自己紹介】</span><span class="right-detail" style="font-size:13px;"><br><%= user.introduction %> </span>
							</div>
						</div>
					</div>
				<% end %>
            </div>
        </div>
    </div>

    <div class="row">
		<div class="paginate col-md-8 mx-auto">
				<br><%= paginate @users %>
		</div>
	</div>
</div>