<div class="container page-top">
<% if @user.id == current_user.id %>
    <h3>マイページ</h3>
<% else %>
    <h3>会員情報詳細</h3>
<% end %>

    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 offset-2">
            <div class="profile-left">
                <%= attachment_image_tag(@user,:profile_image, fallback: "/assets/no-image.png", size:"150x150") %>
                <table class="table">
            <thead>
                <tr>
                <th scope="col">都道府県</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><%= @user.prefecture%></td>
                </tr>
            </tbody>
                <thead>
                <tr>
                <br><th>自己紹介</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><%= @user.introduction %></td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-right">
                <h4>登録名:<%= @user.name %></h4>
                <p><%= @user.birth_date %> (<%= @user.age %>)<%= @user.gender_status_i18n %></p>
                <% if @user.id == current_user.id %>
                <%= link_to " 編集する", edit_user_path, class:"btn btn-primary btn-sm" %>
                <br><br><%= link_to " 気になるリスト", bookmarks_teams_path, class:"btn btn-warning btn-sm" %>
                <br><br><%= link_to "メッセージ一覧", rooms_path, class:"btn btn-success btn-sm "%>
                <% end %>

                <%# メッセージ機能の記述 %>
                <% unless @user.id == current_user.id %>
                        <% if @isRoom == true %>
                            <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
                        <% else %>
                            <%= form_for @room do |f| %>
                            <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                            <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                            <% end %>
                            <% end %>
                <% end %>
                <br><br><br><table class="table">
                <thead>
                <tr>
                <th scope="col">所属チーム</th>
                </tr>
            </thead>
            <tbody>
                <% @teams.each do |team|%>
                <tr>
                <td><%= link_to team_path(team) do%>
                <%= team.name %>
                <% end %>
                </td>
                </tr>
                <% end %>
            </tbody>
            </table>
                <% if @user.id == current_user.id %>
                <%= link_to "チームを登録する", new_team_path, class:"btn btn-primary btn-sm glyphicon glyphicon-wrench" %>
                <% end %>
            </div>
        </div>
    </div>
</div>