<div class="container page-top">
    <h3>会員一覧</h3>

    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="search_form">
            <%= form_tag(admins_users_path, method: "get") do %>
            <%= label_tag :prefecture, "都道府県" %>
                <%= select_tag :prefecture, options_for_select(User.prefectures), include_blank: true, class:"form-control col-md-3" %>
            <%= label_tag :gender_status, "性別" %>
                <%= select_tag :gender_status, options_for_select(User.gender_statuses.keys.map {|k| [I18n.t("enums.user.gender_status.#{k}"), k]}), include_blank: true, class:"form-control col-md-1" %>
            <%= label_tag :age, "年齢"%>
                <div form-grouprow>
                <%= select_tag :min_age, options_for_select((5..85.to_i)), include_blank: true, class:"form-control col-md-1" ,style:"display:inline-grid;" %> 〜
                <%= select_tag :max_age, options_for_select((5..85.to_i)), include_blank: true, class:"form-control col-md-1",style:"display:inline-grid;" %>
                </div>
            <%= label_tag :valid_status, "会員ステータス" %>
            <%= select_tag :valid_status, options_for_select(User.valid_statuses.keys.map {|k| [I18n.t("enums.user.valid_status.#{k}"), k]}), include_blank: true, class:"form-control col-md-2" %>
            <br><%= submit_tag "検索", class:"btn btn-success btn-md" %>
            <% end %>

            </div>
                    <br><table class="table">
				<thead>
					<tr>
						<th></th>
						<th>ユーザー名</th>
						<th>都道府県</th>
                        <th>性別</th>
                        <th>年齢</th>
                        <th class="text-center">会員ステータス</th>
					</tr>
				</thead>


				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= link_to admins_user_path(user), class: "user_#{user.id}"  do %>
                        <%= attachment_image_tag(user,:profile_image, fallback: "/assets/no-image.png", size:"60x60") %></td>
						<% end %>
                        <td><%= user.name%></td>
						<td><%= user.prefecture %></td>
						<td><%= user.gender_status_i18n %></td>
                        <td><%= user.age %>歳</td>
                        <td class="text-center "><%= user.valid_status_i18n %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

        </div>
    </div>
</div>