<div class="container page-top">
<%= form_for @contact, :url => contacts_path do |f| %>
  <div>
    <h2>メッセージ確認</h2>
    <p>以下の内容でメッセージを送信します</p>
    <div>
      <br><strong>名前</strong>
      <p>
        <%= f.hidden_field :name %>
        <%= @contact.name %>
      </p>
    </div>
    <div>
      <strong>メールアドレス</strong>
      <p>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </p>
    </div>
    <div>
      <strong>内容</strong>
      <p>
        <%= f.hidden_field :body %>
        <%= simple_format(@contact.body) %>
      </p>
    </div>
      <br><%= f.submit '戻る', name: 'back', class:"btn btn-primary"%>
      <%= f.submit '送信する', class:"btn btn-success" %>
  </div>
<% end %>
</div>