<div class="container page-top">
  <h3>iSports管理者サイトへのログイン</h3>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-10 mx-auto text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control col-md-7 mx-auto" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control col-md-7 mx-auto" %>
        </div>


        <div class="actions text-center">
          <br><br><%= f.submit "ログイン",class:"btn btn-primary btn-md" %>
        </div>
      <% end %>
    </div>
  </div>
</div>