
    <div class="jumbotron homes-top" alt= "TOP画像">
        <div class="top-form text-center">
            <div class="banner-set">
            <p class="top-message">新感覚を楽しめ。アナタも今すぐiSportsへ。</p>
            <%= link_to "ユーザー新規登録(無料)", new_user_registration_path, class:"button btn-lg signup-btn" %>
            <%= link_to "ログイン", new_user_session_path, class:"button btn-lg" %>
        </div>
        </div>
    </div>

<div class="container page-top">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="content-title">ブラインドスポーツとは</h2>
            <p class="content-body">ブラインドスポーツとは視覚障害を抱える方、または晴眼者がアイマスクをするなど
            視界を遮断して行うスポーツである。パラリンピックにおいても、陸上競技をはじめ競泳、柔道、サッカー、馬術...etcと行った
            メジャーなスポーツからゴールボール、円周走など普段聞き慣れないような競技もある。ブラインドスポーツの際は音が重要なので、試合中は
            観戦者は静かにするのがエチケットになっている。</p>
        </div>
    </div>

    <div class="row text-center" style="margin-top:150px;">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="content-title">こんなアナタにiSports</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h4 class="content-subtitle" style="margin-top:70px;">”チームを探している！”</h4>
                <ul class="cp_list">
                    <li>視力が衰えてしまったけど、体を動かしたい！</li>
                    <li>何か新しい競技に挑戦してみたい！</li>
                    <li>チームを探しているけど、なかなか決まらない</li>
                </ul>
            <%= link_to "登録チーム一覧", teams_path, class:"button-index btn-lg"%>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="content-subtitle" style="margin-top:70px;">”メンバーを募集している！”</h4>
                <ul class="cp_list">
                    <li>チームを作ったけど、人が足りていない！</li>
                    <li>試合の相手チームを探している！</li>
                    <li>メンバーを探してスカウトしたい！</li>
                </ul>
                <%= link_to "登録会員一覧", users_path, class:"button-index btn-lg"%>
        </div>
            <p class="ps">※詳しいご利用方法はサイト概要に記載しております。</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center" style="margin-top:100px;">
            <h2 class="content-title" >登録チーム紹介</h2>
        </div>
    </div>
</div>
    <%# 新着チームスライド %>
    <div id="skippr" style="margin-top:20px;">
        <div id="theTarget">
        <%# 新着チームをindex表示する %>
            <% @teams.each_with_index do |team,i|%>
                <div class="page<%= i+1 %>">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 slide-right text-center">
                                <%= link_to team_path(team), style:"color:white;" do%>
                                    <%= attachment_image_tag(team,:team_image, fallback: asset_path("no-image.png"), size:"150x150") %>
                                        <h5 class="team-name"><%= team.name %>(<%= team.prefecture %>)</h5>
                                <% end %>
                            </div>
                            <div class="col-md-7 slide-left">
                                <h5>【競技】</h5>
                                <h5><%= team.genre.name%></h5>
                                <br><h5>【チーム紹介】</h5>
                                <p class="tema-introduction">
                                    <%= team.introduction %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    </div>
