<div class="container page-top">
    <h3><%= opponent_user(@room) %>さんとのメッセージ   </h3>
    <div class="row" style="margin-top:50px;">
        <div class="col-md-9 mx-auto" style="border:solid 1px #dcdcdc; border-radius:20px; padding:20px;">
        <% if @messages.present? %>
                <% @messages.last(20).each do |m| %>
            <% if m.user == current_user %>
        <div class="text-right">
            <div class="rounded-pill p-3" style="background-color: #7fff00; display: inline-block;">
                <%= m.content %>
                    </div>
                    <br><%= m.created_at.strftime("%Y/%m/%d %H:%M")%>
            </div>
            <% else %>
                <div class="">
                    <%= link_to user_path(m.user) do %>
                        <div class="chat-face">
                            <%= attachment_image_tag(m.user,:profile_image, fallback: asset_path("no-image.png"), size:"50x50", style:"border-radius:30px;") %>
                            </div>
                        <div class="rounded-pill p-3" style="background-color: #f8f8ff; display: inline-block;">
                    <% end %>
                        <%= m.content %>
                    </div>
                    <br><%= m.created_at.strftime("%Y/%m/%d %H:%M")%>
                </div>
            <% end %>
            <% end %>
        <% else %>
                <h3 class="text-center" style="margin-top:150px;">メッセージはまだありません</h3>
                <p class="text-center" style="color:gray; margin-bottom:150px;">初めてのメッセージはマナーとモラルを意識しましょう！</p>
                <% end %>

                　　<%= form_for @message do |f| %>
                <div class="col-md-10 mx-auto text-center">
                    <%= f.text_area :content, :placeholder => "メッセージを入力して下さい", class:"form-control", style: "margin-top:50px; height:100px;", required: true %>
                    <%= f.hidden_field :room_id, :value => @room.id %>
                    <%# メッセージの受信者のidをUserChatRoomから自分以外で検索し代入。未読アテンション表示のための準備として %>
                    <%= f.hidden_field :receive_user_id, value: @receive_user.user_id %>
                    <%= f.submit "送信", class: "btn btn-success btn-md  role=button", style: "width:100px; margin-top:10px; float:right;" %>
                </div>
                <% end %>
    </div>
</div>

    <div class="col-md-10 mx-auto" style="margin-top:30px;">
        <%= link_to "メッセージ一覧へ", rooms_path, class:"btn btn-primary btn-md " %>
    </div>
</div>