<!DOCTYPE html>
<html>
  <head>
    <title>iSports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type="text/javascript"></script>
  </head>

  <body>

    <% if request.path.include?('admins') %>
      <%= render 'layouts/admins_header'%>
    <% else %>
      <%= render 'layouts/users_header'%>
    <% end %>

    <%= yield %>


    <% if request.path.include?('admins') %>
      <%= render 'layouts/admins_footer'%>
    <% else %>
      <%= render 'layouts/users_footer'%>
    <% end %>

  </body>
</html>
