<!DOCTYPE html>
<html>
  <head>
    <title>iSports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if request.path.include?('admins') %>
      <%= render 'layouts/admins_header'%>
    <% else %>
      <%= render 'layouts/users_header'%>
    <% end %>

    <%= yield %>


    <% if request.path.include?('admins') %>
      <%= render 'layouts/admins_footer'%>
    <% else %>
      <%= render 'layouts/users_footer'%>
    <% end %>

  </body>
</html>
